button {
  font-family: inherit;
}


.btn-primary:hover {
  background: #059669;
}

.btn-secondary {
  background: #3b82f6;
  color: white;
  border: none;
  padding: 12px 20px;
  border-radius: 8px;
  cursor: pointer;
}

.full-btn {
  width: 100%;
}

.btn-view {
  background: #1fb981;
  color: white;
  padding: 10px 18px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: 500;
  transition: 0.3s ease;
}

.btn-view:hover {
  background: #159a6a;
}
