.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  min-height: calc(100vh - 120px);
  padding: 60px 20px;
  background: linear-gradient(135deg, #eef2ff, #f9fafb);
}


.auth-card {
  width: 420px;
  padding: 2.5rem;
}

.form-group {
  margin-bottom: 1.2rem;
}

.form-group label {
  font-weight: 500;
  display: block;
  margin-bottom: 0.4rem;
}

.form-group input,
.form-group select {
  width: 100%;
  padding: 0.8rem;
  border-radius: var(--radius);
  border: 1px solid var(--border);
  transition: var(--transition);
}

.form-group input:focus,
.form-group select:focus {
  border-color: var(--primary);
  outline: none;
  box-shadow: 0 0 0 3px rgba(37, 99, 235, 0.2);
}

/* BUTTON */
.btn-primary {
  background: linear-gradient(135deg, var(--secondary), var(--secondary-dark));
  color: white;
  padding: 0.8rem 1.5rem;
  border-radius: 50px;
  border: none;
  font-weight: 600;
  cursor: pointer;
  transition: var(--transition);
}

.btn-primary:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 20px rgba(16, 185, 129, 0.4);
}

.full-btn {
  width: 100%;
}
